# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
+ To teach people the basics of _Data Science_.
+ To Show the most used languages in data science.
+ To show the most popular libraries used in data science.
+ To show a basic list of open source Tools in data science. 
+ To show how to use mathematics in python.

##### Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL 
4. Java
5. Julia
6. Scala
7. JavaScript
8. C
9. C++

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow
4. NumPy
5. SciPy
6. PyTorch
7. Scikit-learn

|Data Science Tools|
--------------------
|Hadoop|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author: 
Franco Stratta